*{
    box-sizing: border-box;
}
.container{
    display: grid;
   
    min-height: 100vh;
    grid-template-rows: 40% 50% 10%;
    grid-template-columns: 30% 35% 35%;
    
}
header, main, footer{
    border: 1px solid black;
    display: flex;
    
    
}
body{
    margin: 0%;
}
footer{
    grid-column: span 3;
}
header{
    grid-column: span 3;
    background-image: url('./assets/images/1102805-monochrome-Earth-symmetry-circle-lines-spider-Arachnid-material-shape-line-black-and-white-fractal-art-invertebrate-spider-web~2.png');
    background-size: cover;
    background-position: center;
}
.dp{
    border-radius: 50%;
    
}
h1, h2, .contact, .location{
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}


   